{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          HTML
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Для создания этого сайта были применены перечисленные техлогии,
         не самые прямые ручки, помощь от других студентов и не всегда верное понимае материала.
        Слегка забагованое варево готово!
      </p>
      <img src="http://s6.pikabu.ru/post_img/2017/09/13/5/1505287614171042664.gif" width="400" height="300">
    </article>
  </div>
{% endblock %}